$primary: #d65db1;
$primaryLight: thistle;
$primaryDark: #c454a2;
$secondary: #ffc75f;
$secondaryLight: #ffd68a;
$secondaryDark: #e2b155;
$tertiary: #ff9671;
$accent: #845ec2;
$accentLight: #9679c5;
$accentDark: #6c4e9e;
$light: white;
$neutral: grey;
$dark: black;

